

<!-- Passpartu End -->

<div class="page" id="page">

    <!-- Header -->
    <header class="no_border">

    
        <!-- Logo -->
        <div class="logo pull-left">
            <!-- <a href="#" style="border: none;"><b>GOMAK CULTURE</b></a> -->
        </div>


        <!-- Header Buttons -->
        <div class="header_btns_wrapper ">

            <!-- Main Menu Btn -->
            <div class="main_menu"><i class="ti-menu"></i><i class="ti-close"></i></div>
            
            <!-- Sub Menu -->
            <div class="sub_menu">
                <div class="sub_cont">
                    <ul>
                        <li><a href="#contacts">이벤트 응모</a></li>
<!--                         <li><a href="#music">브랜드소개</a></li>
                        <li><a href="#services">세부기획</a></li>
                        <li><a href="#releases">행사현장사진</a></li>
                        <li><a href="#team">말.말.말</a></li>
                        <li><a href="#contacts">문의하기</a></li> -->
                    </ul>
 

                </div>
            </div>
            <!-- Sub Menu End -->

        </div>
        <!-- Header Buttons End -->
        
        <!-- Up Arrow -->
        <a href="#page" class="up_block go" style="background-color:black;"><i class="fa fa-angle-up" style="color:white;"></i></a>

    </header>
    <!-- Header End -->


     
<!--Who-->
<section class="boxes" id="who">
    <div class="container-fluid">
        
        <div class="row">
            <!-- <div class="col-md-12" style="background: url('https://dl.dropboxusercontent.com/s/do175k5xnwz1ym3/background_img.jpeg?dl=0') center center no-repeat; min-height:7680px;"> -->
            <!-- <div class="col-md-12 background-image" style="background: url('/assets/microsites/background_img.jpeg') center center no-repeat; min-height:7680px;"> -->
            <div class="col-md-12 background-image" style="background: url('/assets/microsites/background_img.jpeg') center center no-repeat; background-size: auto 100%">
                <div class="col-md-offset-2 col-md-8 simple_block text-left" style="height:1000px;">
                </div>  
                <!-- 영상섹션 -->
                <div class="col-md-offset-2 col-md-8 text-left" style="padding:0px; margin-bottom: 0px;">
                    <img src="/assets/microsites/blue-up-min.png" alt="" style="width:100%">
                </div>
                <div class="col-md-offset-2 col-md-8 text-left" style="background: url('/assets/microsites/blue-mid-min.png'); background-size:100% auto; padding:0px;">
                    <div class="col-md-12 text-center" style="padding-top: 20px;">
                        <iframe width="95%" height="500px" src="https://www.youtube.com/embed/u8dvEWUv-qQ?rel=0&amp;autoplay=1&amp;loop=1" frameborder="0" allowfullscreen></iframe>
                    </div>

                </div>
                <div class="col-md-offset-2 col-md-8 text-left" style="padding:0px; margin-bottom: 100px;">
                    <img src="/assets/microsites/blue-bottom-min.png" alt="" style="width:100%">
                </div> 

                <!-- 온라인이벤트 섹션 -->
                <div class="col-md-offset-2 col-md-8 text-left" style="padding:0px; margin-bottom: 0px;">
                    <img src="/assets/microsites/pink-up-min.png" alt="" style="width:100%">
                </div>
                <div class="col-md-offset-2 col-md-8 simple_block text-left" style="background: url('/assets/microsites/pink-mid-min.png'); background-size:100% auto; padding-bottom: 0px; padding-top: 0px;">
                    <img src="/assets/microsites/title-1-min.png" alt="" width="100%">
                    
                    <p class="wow" style="color:white; font-size: 1.5em; margin-top: 50px;">
                        <span style="background-color:#EE8AB6; padding: 10px 20px; font-size: 1.3em; border-radius: 50px;">하나</span> 온라인 사전참여 이벤트
                    </p>
                    <div class="col-md-12 simple_block text-left" style="background-color: rgba(0, 0, 0, 0.6); border: 1px solid rgba(255,255,255,0.2); margin-top: 50px; padding: 30px 15px;">
                        <div class="col-md-8">
                            <p class="wow text-center" style="color:white; font-size: 1em; margin-top: 15px;">
                                <span style="background-color:#605786; padding: 5px 10px; font-size: 1.3em; border-radius: 50px;">이벤트 참여방법</span> <br/><br/>
                                1) 2018년도 UMF를 꼭 가야하는 <span style="font-size:1.2em; color: #EE8AB6">사연</span>을 적는다 <br/>
                                2) 티켓을 수령할 수 있도록 개인정보를 적어 이벤트에 참여한다 <br/>
                                3) 메신저를 활용해 친구에게 <span style="font-size:1.2em; color: #EE8AB6">이벤트를 공유</span>하면 당첨확률 UP! <br/>
                            </p>
                            <p class="wow text-center" style="color:white; font-size: 1em; margin-top: 50px;">
                                <span style="background-color:#605786; padding: 5px 10px; font-size: 1.3em; border-radius: 50px;">이벤트 기간</span> <br/><br/>
                                2018년 05월 31일 ~ 2018년 06월 07일<br/>
                                <span style="font-size: 0.8em">* 안내 : 당첨자는 SMS를 통해 개별 연락되며, 사정에 따라 조기발표 될 수 있습니다</span>
                            </p>
                        </div>
                        <div class="col-md-4 text-center" style="padding-left:20px;">
                                <img src="" alt="" width="100%" style="margin-top: 50px;">
                            <p class="wow text-center" style="color:white; font-size: 1em; margin-top: 50px;">
                                <span style="background-color:#605786; padding: 5px 10px; font-size: 1.1em; border-radius: 50px;">이벤트 상품</span><br/><br/>
                                UMF 3일권 티켓 ( 1인 2매 )
                            </p>
                        </div>
                    </div>
                    <div class="col-md-12 simple_block text-left" style="background-color: rgba(0, 0, 0, 0.6); border: 1px solid rgba(255,255,255,0.2); margin-top: 50px; padding: 50px 20px;">
                        <div class="col-md-12">
                            <p class="wow text-center" style="color:white; font-size: 1em; margin-bottom: 50px; margin-top: 50px;">
                                <span style="background-color:#605786; padding: 5px 10px; font-size: 1.3em; border-radius: 50px;">이벤트 참여</span><br style="display:block; line-height:50px"/>
                                UMF의 어떤 순간을 기록하고 싶은지,<br/>
                                UMF에 가야만 하는 이유가 포함된 재밌는 사연을 기다립니다
                            </p>
                            <form action="/promotions/sendmail" method="POST">
                                <div class="col-md-12" id="contacts">
                                    <label for="f_email" style="background-color:#605786; color:white; padding: 3px 10px;">UMF의 주인공은 나야 나!</label>
                                    <textarea placeholder="사연을 입력해주세요" class="form-control form-opacity no-margin newsletter_input" rows="10" name="message"></textarea>
                                </div>
                                <div class="col-md-12">
                                    <p class="wow text-center" style="color:white; font-size: 1em; margin-top: 100px; margin-bottom: 50px;">
                                        <span style="background-color:#605786; padding: 7px 15px; border-radius: 50px; font-size:1.2em">개인정보입력</span><br style="display:block; line-height:40px"/>
                                        이벤트 참가 및 당첨자 선정을 위해 활용됩니다. <br/>
                                        자세한 내용은 하단에 '이벤트 개인정보 활용동의서'를 확인하세요
                                    </p>
                                    <label for="dfd" style="background-color:#B8537A; color:white; padding: 3px 10px;">이름</label>
                                    <input class="form-control form-opacity no-margin newsletter_input" name="participant_name" type="text" required/>
                                    <label for="f_email" style="background-color:#B8537A; color:white; padding: 3px 10px;">이메일</label>
                                    <input placeholder="E-mail" class="form-control form-opacity no-margin newsletter_input" name="participant_email" type="email" required/>
                                    <label for="f_email" style="background-color:#B8537A; color:white; padding: 3px 10px;">연락처</label>
                                    <input placeholder="010-XXXX-XXXX" class="form-control form-opacity no-margin newsletter_input" name="participant_phone" type="phone" required/>
                                </div>
                                <div class="col-md-12">
                                    <p style="margin-top: 10px; overflow:auto; height:100px; border:1px solid rgba(255,255,255,0.3)">
                                        [이벤트 개인정보 활용동의서]<br/>
                                        (주)고막컬쳐는 개인정보 관련 법률(개인정보보호법, 정보통신망 이용촉진 및 정보보호에 관한 법률)을 준수하며 수집된 개인 정보는 해당 서비스 외에 다른 용도로 절대 사용하지 않으며, 사용자 요청 시 바로 삭제할 수 있습니다.<br/><br/>

                                        1. 수집항목 및 이용목적<br/>
                                        - 수집항목: 이름, 연락처, 전자우편<br/>
                                        - 이용목적: 이벤트 참여 후 당첨자 발표 및 확인 <br/><br/>

                                        2. 보유 및 이용기간<br/>
                                        이벤트 종료 3개월 후 삭제처리<br/><br/>

                                        귀하는 개인정보 제공에 동의하지 않으실 권리가 있습니다.<br/>
                                        단 개인정보 제공에 동의하지 않을 경우 <br/>
                                        - 이벤트 참여를 하실 수 없습니다.<br/><br/>

                                        그 밖의 사항은 개인정보취급방침을 준수합니다.<br/><br/>
                                    </p>
                                    <div class="text-center" style="margin-bottom: 30px; margin-top: 80px;   ">
                                        <p style="color:white">개인정보 수집 및 이용에 대한 안내를 이해하였으며, <br/>개인정보 제공에</p>
                                        <input type="radio" id="agree" name="private_agree" value="true">
                                        <label for="agree" style="color:white">동의합니다 </label>
                                        <input type="radio" id="disagree" name="private_agree" value="false" style="margin-left: 20px;">
                                        <label for="disagree" style="color:white"> 동의하지 않습니다</label>
                                    </div>
                                    <button type="submit" class="btn btn-white" id="btn_subscript" style="float:right; width: 100%; font-size:1.5em; padding: 15px 0px; margin-top: 50px;">
                                        이벤트 참여하기
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>      
                <div class="col-md-offset-2 col-md-8 text-left" style="padding:0px; margin-bottom: 100px;">
                    <img src="/assets/microsites/pink-bottom-min.png" alt="" style="width:100%">
                </div>  

                <!-- 현장이벤트 섹션 -->
                <div class="col-md-offset-2 col-md-8 text-left" style="padding:0px; margin-bottom: 0px;">
                    <img src="/assets/microsites/green-up-min.png" alt="" style="width:100%">
                </div>
                <div class="col-md-offset-2 col-md-8 simple_block text-left" style="background: url('/assets/microsites/green-mid-min.png'); background-size:100% auto; padding-bottom: 0px;">
                    <img src="/assets/microsites/title-2-min.png" alt="" width="100%">
                    <p class="wow" style="color:white; font-size: 1.5em; margin-top: 50px;">
                        <span style="background-color:#EE8AB6; padding: 10px 20px; font-size: 1.3em; border-radius: 50px;">둘</span> 
                        <span style="color:#EE8AB6; font-weight:bold">#캡쳐더모먼트</span> #해시태그 이벤트
                    </p>
                    <div class="col-md-12 simple_block text-left" style="background-color: rgba(0, 0, 0, 0.6); border: 1px solid rgba(255,255,255,0.2); margin-top: 50px; padding: 50px 20px; margin-bottom: 50px;">
                        <div class="col-md-12 text-center" style="padding-left:20px; margin-bottom: 100px; margin-top: 50px;">
                                <img src="/assets/microsites/instagram_img-min.png" alt="" width="100%" style="border: 1px solid rgba(255,255,255,0.2); padding-right: 15px;">
                        </div>
                        <div class="col-md-offset-1 col-md-5" style="margin-bottom: 30px;">
                            <p style="color:white; font-size: 1em; margin-top: 15px;">
                                <span style="background-color:#605786; padding: 5px 10px; font-size: 1.3em; border-radius: 50px;">이벤트 참여방법</span> <br/><br/>
                                1) 신나는 음악과 함께, 호세쿠엘보를 즐긴다! <br/>
                                2) 매 시각 영혼이 탄생하는 <span style="color:#EE8AB6; font-weight:bold">순간</span>을 목격한다 <br/>
                                3) 영혼의 탄생을 축하하며 사진을 찍어 기록으로 남긴다 <br/>
                                4) 인스타그램에 <span style="color:#EE8AB6; font-weight:bold">#캡쳐더모먼트</span> 해시태그로 업로드하면 끝!
                            </p>
                        </div>
                        <div class="col-md-5">
                            <p style="color:white; font-size: 1em; margin-top: 15px;">
                                <span style="background-color:#605786; padding: 5px 10px; font-size: 1.3em; border-radius: 50px;">이벤트 상품 수령</span> <br/><br/>
                                - #캡쳐더모먼트 해시태그로 업로드된 해피아워의 순간을 호세쿠엘보 부스 직원에게 보여주세요<br/>
                                - 호세쿠엘보를 <span style="color:#EE8AB6; font-weight:bold; font-size: 1.2em">1+1으로 즐길 수 있는</span> 절호의 기회!<br/>
                            </p>
                        </div>
                        <div class="col-md-12">
                            <p class="text-center">
                                <small>* 해피아워는 타임테이블별로 운영되며 조기 소진 시 마감될 예정입니다</small>
                            </p>
                        </div>
                        
                    </div>
                    <p style="color:white; font-size: 1.5em; margin-top: 50px;">
                        <span style="background-color:#EE8AB6; padding: 10px 20px; font-size: 1.3em; border-radius: 50px;">셋</span> 
                        <span style="color:#EE8AB6; font-weight:bold">#캡쳐호세쿠엘보</span> 포토존
                    </p>
                    <div class="col-md-12 simple_block text-left" style="background-color: rgba(0, 0, 0, 0.6); border: 1px solid rgba(255,255,255,0.2); margin-top: 50px; padding: 30px 15px;">
                        <div class="col-md-12 text-center" style="padding-left:20px; margin-bottom: 100px; margin-top: 50px;">
                                <img src="/assets/microsites/event_2.png" alt="" width="100%">
                        </div>
                        <div class="col-md-offset-1 col-md-5" style="margin-bottom: 30px;">
                            <p class="wow" style="color:white; font-size: 1em; margin-top: 15px;">
                                <span style="background-color:#605786; padding: 5px 10px; font-size: 1.3em; border-radius: 50px;">이벤트 참여방법</span> <br/><br/>
                                1) 신나는 음악과 함께, 호세쿠엘보를 즐긴다! <br/>
                                2) 부스에 놓여있는 <span style="color:#EE8AB6; font-weight:bold">관 포토존</span>을 찾는다 <br/>
                                3) 영혼이 깨어나는 나만의 포즈를 취한다 <br/>
                                4) 인스타그램에 <span style="color:#EE8AB6; font-weight:bold">#캡쳐호세쿠엘보</span> 해시태그로 업로드하면 끝!
                            </p>
                        </div>
                        <div class="col-md-5">
                            <p class="wow" style="color:white; font-size: 1em; margin-top: 15px;">
                                <span style="background-color:#605786; padding: 5px 10px; font-size: 1.3em; border-radius: 50px;">이벤트 상품 수령</span> <br/><br/>
                                - #캡쳐호세쿠엘보 해시태그로 업로드된 나만의 포즈를<br/>
                                호세쿠엘보 부스 직원에게 보여주세요<br/>
                                - 호세쿠엘보에서 준비한 <span style="color:#EE8AB6; font-weight:bold; font-size: 1.2em">놀라운 선물</span>을 받아가세요<br/>
                            </p>
                        </div>
                        <div class="col-md-12">
                            <p class="text-center">
                                <small>* 증정품은 일일 한정수량으로 조기 소진시 마감됩니다</small>
                            </p>
                        </div>
                        
                    </div>
                </div>      
                <div class="col-md-offset-2 col-md-8 text-left" style="padding:0px; margin-bottom: -1px;">
                    <img src="/assets/microsites/green-bottom-min.png" alt="" style="width:100%">
                </div>  
                  
            </div>
        </div>
    </div>
</section>
<!--Who End-->

<!-- Contacts -->

<!-- Contacts End -->



<!-- Footer -->
<div class="footer" data-color="#0e0e0e" style="margin-bottom: 0px;">
    <!-- Footer Copyrights -->
    <div class="footer_end">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <span class="sub">&copy; Copyright 2018 - GOMAK CULTURE</span>
                </div>
                <div class="col-sm-6 text-right">
                    <ul class="list-inline social-list">
                        
                        <li>
                            <a href="https://www.facebook.com/gomakculture/" data-toggle="tooltip" data-placement="top" title="Facebook" target="_blank">
                                <i class="ti-facebook"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.instagram.com/gomakculture/" data-toggle="tooltip" data-placement="top" title="Instagram" target="_blank">
                                <i class="ti-instagram"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- Copyrights End -->


</div>
<!-- Footer End -->


</div>
<!-- Page End -->

<% content_for :javascript do %>
    <script type="text/javascript">

        $(function() {

            var $window = $(window).width();

            if ($window < 750) {
              $('.background-image').css('background-image','url(/assets/microsites/background_img_small.jpeg');

            } else if ($window > 750) {
              $('.background-image').css('background-image','url(/assets/microsites/background_img.jpeg');
            }


            $(".btn-detail").click(function(){
                var anchor = $(this);
                $('html, body').stop().animate({
                    scrollTop: $(anchor.attr('href')).offset().top-58
                }, 800);
            });

            $(".btn-contacts").click(function(){
                var anchor = $(this);
                $('html, body').stop().animate({
                    scrollTop: $(anchor.attr('href')).offset().top-58
                }, 800);
                setInterval(function(){
                    $("#btn_subscript").fadeOut('slow').fadeIn('slow');
                }, 2000);
            });
        });

    </script>
<% end %>