
		<section id="page-title" class="page-title-parallax page-title-dark" style="padding: 250px 0; background-image: url('/assets/about_img.png'); background-size: cover; background-position: center center;" data-bottom-top="background-position:0px 400px;" data-top-bottom="background-position:0px -500px;">

			<div class="container clearfix">
				<h1 class="main-font">About Us</h1>
				<span class="main-font">Approaching a Forgotten Memory</span>
			</div>

		</section><!-- #page-title end -->

		<!-- Content
		============================================= -->
		<section id="content">
			
			<div class="content-wrap" style="padding-top: 0px;">
				
				<div class="container clearfix" >
					<img src="/assets/character.png" alt="" >
					<!-- <div class="col_one_third">

						<div class="heading-block fancy-title nobottomborder title-bottom-border">
							<h4>Why choose <span>Us</span>.</h4>
						</div>

						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi quidem minus id omnis, nam expedita, ea fuga commodi voluptas iusto, hic autem deleniti dolores explicabo labore enim repellat earum perspiciatis.</p>

					</div> -->
					<div>
						<p style="margin-bottom: 10px; color:#A1A0A1; font-size:20px">
							"어른들은 누구나 처음에 어린이였다.<br/>
						</p>
						<p style="margin-bottom: 10px; color: #A1A0A1; font-size:20px">하지만 그것을 기억하는 어른은 별로 없다."</p>
						<p style="color: #A1A0A1; font-size:20px">- The Little Prince -</p>	
					</div>
				</div>

			</div>

		</section>

<% content_for :javascript do %>
  <script type="text/javascript">
    $(function() {
    	$(".current").removeClass("current");
    	$(".nav-about").addClass("current");
    });
  </script>
<% end %>