		<!-- Content
		============================================= -->
		<section id="content">

			<div class="content-wrap">

				<div class="container clearfix">
					<h1 class="special-font main-font">CONTACTS</h1>
					<hr/>
					<div id="map-canvas" class="gmap map-boxed" style="height:391px;"></div>
					<div class="col_half fancy-title title-bottom-border" style="padding-top: 50px;">
						<h4 class="main-font">ADDRESS</h4>

						<p style="margin-bottom: 10px; margin-top: 30px; font-weight:bold">도로명주소</p>
						<p>
							서울특별시 강남구 역삼로 17길 10, 부강빌딩 1층 (06242) <br/>
							1st Bugang Bldg, 10, Yeoksam-ro 17gil, Gangnam-gu, Seoul
						</p>		
					</div>
					<div class="col_half col_last fancy-title title-bottom-border" style="padding-top: 50px;">
						<h4 class="main-font">CONTACT</h4>

						<p style="margin-bottom: 10px; margin-top: 30px; ">
							<span style="font-weight:bold">대표전화 | </span> 02-1522-9406<br/>
							<span style="font-weight:bold">FAX | </span> 070-7426-9406<br/>
							<span style="font-weight:bold">E-mail | </span> support@gomakculture.com
						</p>
						<p>
							* 메일로 문의사항을 남겨주시면 담당자를 연결해 드리겠습니다 *
						</p>		
					</div>

				</div>

			</div>

		</section><!-- #content end -->

<% content_for :javascript do %>
  <script src="/assets/renew/gmap.js"></script>
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDTQG2W6JZELRj15m55EiIugXM5i8az7ao"></script>
  <script type="text/javascript">
    $(function() {
       $(".current").removeClass("current");
       $(".nav-contacts").addClass("current");
    });
  </script>


<% end %>