<div id="portfolio-ajax-single" class="clearfix" style="display:none; margin-bottom: 50px;"> 

	    <div id="portfolio-ajax-title" style="position: relative;">
	        <h2 class="main-font">PROJECT TITLE</h2>
	        <div id="portfolio-navigation">
	            <a href="#" id="close-portfolio"><i class="icon-line-cross"></i></a>
	        </div>
	    </div>

	    <div class="line line-sm topmargin-sm"></div>
	    <div class="col_two_fifth portfolio-single-content nobottommargin">
	        <ul class="portfolio-meta bottommargin">
	            <li><span style="font-weight: bold; color: #bb2021">CLIENT</span> | dfdf</li>
	            <li><span style="font-weight: bold; color: #bb2021">BRAND</span> | Hand & Malt</li>
	            <li><span style="font-weight: bold; color: #bb2021">MEDIA</span> | Facebook / Instagram</li>
	            <li><span style="font-weight: bold; color: #bb2021">DIRECTOR</span> | Ahn, Seong Hyun</a></li>
	            <li>더 많은 프로젝트 구경하기</li>	
	        </ul>
	    </div>
	    <div class="col_three_fifth portfolio-single-image nobottommargin col_last">
	        <iframe src="http://player.vimeo.com/video/80975867" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
	    </div>
		
	</div>
	<div class="line" style="margin: 40px 0;"></div>